.about-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 608px;
}

.about-project__container {
  padding: 70px 70px 0;
}

.about-project__content-container {
  padding-top: 31px;
  display: flex;
}

.about-project__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 71px;
  /* identical to box height */
  letter-spacing: -0.04em;
  border-bottom: 1px solid black;
}

.grid-container {
  display: grid;
  grid-template-columns: 20% 80%;
  row-gap: 0;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 100%;
}

.grid-item-1 {
  background-color: #000000;
}
.grid-item-2 {
  background-color: #f2f2f2;
}

.grid-item__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.grid-item__text-1 {
  color: #ffffff;
}

.grid-item__text-3,
.grid-item__text-4 {
  font-family: SuisseIntl-Regular, Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a0a0a0;
}

@media all and (max-width: 800px) {
  .about-project__container {
    padding: 30px 50px;
  }
  .about-project {
    height: 565px;
  }
}

@media all and (max-width: 400px) {
  .about-project__container {
    padding: 14px 17px 0;
  }
  .about-project__heading {
    font-size: 18px;
    line-height: 77px;
  }
  .about-project__content-container {
    padding-top: 25px;
    flex-direction: column;
    margin-bottom: 23px;
  }
  .grid-item__text {
    font-size: 12px;
    line-height: 13px;
  }
  .grid-item__text-3,
  .grid-item__text-4 {
    font-size: 11px;
  }
  .grid-container {
    grid-template-columns: 35% 65%;
  }
  
}
