.navbar {
  position: absolute;
  bottom: 6.1%;
  left: 50%;
  transform: translateX(-50%);
}

.navbar__items {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar__link {
  text-decoration: none;
  color: #FFFFFF;
  width: 96px;
  height: 36px;
  margin-left: 10px;
}

.navbar__link:hover {
  opacity: 0.5;
}

.navbar__link:first-child {
  margin-left: 0;
}

.navbar__item {
  background-color: #e8e8e8;
  width: 96px;
  height: 36px;
  border-radius: 10px;
  text-align: center;
  line-height: 36px;
  font-weight: 500;
  font-size: 12px;
}


@media all and (max-width: 800px) {
  .navbar {
    bottom: 3.6%;
  }
}