.register {
  display: flex;
  justify-content: center;
}

.register__container {
  padding: 70px 0;
  max-width: 396px;
  width: 100%;
}

.register__header-container {
  height: 147px;
}

.register__header {
  margin-top: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.register__inputs-containter {
  height: 267px;
  display: flex;
  flex-direction: column;
}

.register__label {
  padding-top: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
}

.register__input {
  margin: 10px 0 5px 0;
  height: 46px;
  width: 100%;
  box-sizing: border-box;
  background: #f9f9f9;
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 15px;
}

.fieldset {
  border: none;
}
.error {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  height: 12px;
  color: #ff4062;
}


.api-error {
  text-align: center;
}

.register__button-container {
  margin-top: 69px;
}

.register__button {
  width: 100%;
  background: #000000;
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
  height: 45px;
}

.register__button-subtext-container {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.register__button-subtext {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  margin: 0;
  margin-right: 6px;
  text-align: center;

  color: #a0a0a0;
}

.register__signin-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  color: #000000;
  text-decoration: none;
}

.register__signin-link:hover {
  opacity: 0.5;
}

.disabled-button {
  opacity: 0.4;
}

@media all and (max-width: 800px) {
  .register__container {
    padding: 230px 0;
  }
}

@media all and (max-width: 510px) {
  .register__container {
    padding: 55px 0;
    max-width: 256px;
    width: 100%;
  }
  .register__header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .register__header {
    margin-top: 46px;;
  }
  .register__form {
    margin-top: 46px;
  }
  .register__button-container {
    margin-top: 159px;
  }
  .register__button {
    font-size: 12px;
  }
  .register__button-subtext {
    font-size: 12px;
  }
  .register__signin-link {
    font-size: 12px;
  }
  .error {
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 9px;
  
    color: #ff4062;
  }
}